---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            xml:space="preserve"
            width="396.702"
            height="372.663"
            viewBox="0 0 104.961 98.6"
        >
            <defs>
                <clipPath id="clip-strand-1">
                    <path
                        d="M63.134-110.608c-35.693 0-64.787 29.096-64.787 64.79v81.15c5.085.25 10.111.814 15 1.67v-82.82c0-27.587 22.2-49.79 49.787-49.79h.428c27.586 0 49.789 22.203 49.789 49.79V93.58a7.5 7.5 0 0 0 7.5 7.5 7.5 7.5 0 0 0 7.5-7.5V-45.82c0-35.693-29.096-64.789-64.79-64.789z"
                        transform="matrix(.26458 0 0 .26458 71.001 38.28)"
                    ></path>
                </clipPath>
                <clipPath id="clip-strand-2">
                    <path
                        d="M-116.248-.346v163.392c0 35.775 29.162 64.938 64.937 64.938h.13c35.774 0 64.937-29.163 64.937-64.938v-46.664c-3.37 6.846-7.09 13.158-12.752 18.149a37.196 37.196 0 0 1-2.248 1.832v26.683c0 27.669-22.27 49.938-49.938 49.938h-.129c-27.668 0-49.937-22.27-49.937-49.938V-.108a62.23 62.23 0 0 1-15-.238z"
                        transform="matrix(.26458 0 0 .26458 71.001 38.28)"
                    ></path>
                </clipPath>
                <clipPath id="clip-leaf-1">
                    <path
                        d="m 47.979193,58.008211 c -14.72604,-11.15945 -37.39393,-17.82447 -60.64064,-17.82447 -28.74557,0 -52.17104,10.03584 -64.25831,27.536843 -5.67761,8.21424 -8.8186,17.95215 -9.33784,28.92433 -0.45966,9.771966 1.18319,20.582406 4.87747,32.210026 12.61502,-37.828056 47.85537,-67.441866 88.4839196,-67.441866 0,0 -38.0153196,10.00179 -61.9174696,40.994566 -21.00815,25.82713 -16.25737,39.96822 15.79006,40.47534 15.65387,0 26.77927,-3.38785 35.0275496,-10.65723 7.38856,-6.5118 11.46588,-15.27081 15.7815504,-24.53204 6.58841,-14.155736 14.05358,-30.192646 35.73405,-42.577846 2.65355,-1.51363 2.89557,-5.24707 0.45966,-7.090633 z"
                        transform="matrix(.26458 0 0 .26458 71.001 38.28)"
                    ></path>
                </clipPath>
                <clipPath id="clip-leaf-2">
                    <path
                        d="m -266.66327,57.981491 c 14.72604,-11.15944 37.39393,-17.82447 60.64064,-17.82447 28.74557,0 52.17104,10.03584 64.25831,27.536853 5.67761,8.21423 8.8186,17.95214 9.33784,28.92432 0.45966,9.771966 -1.1832,20.582416 -4.87747,32.210026 -12.61502,-37.828056 -47.85537,-67.441866 -88.48392,-67.441866 0,0 38.01531,10.00179 61.91747,40.994566 21.00814,25.82713 16.25738,39.96822 -15.79006,40.47534 -15.65387,0 -26.77927,-3.38784 -35.02754,-10.65723 -7.38856,-6.5118 -11.46589,-15.27081 -15.78155,-24.53205 -6.58842,-14.155726 -14.05358,-30.192636 -35.73406,-42.577836 -2.65354,-1.51363 -2.89556,-5.24707 -0.45966,-7.090633 z"
                        transform="matrix(.26458 0 0 .26458 71.001 38.28)"
                    ></path>
                </clipPath>
                <clipPath id="clip-plug">
                    <path
                        d="m 83.224921,35.228551 c -7.7e-4,-1.582337 -1.28397,-2.864556 -2.86632,-2.864556 -1.58234,0 -2.86534,1.282219 -2.86631,2.864556 v 8.598958 h 5.73263 z m 4.29948,11.465281 h -31.52951 c -0.79151,0 -1.43316,0.64165 -1.43316,1.43316 v 2.866321 c 0,0.79151 0.64165,1.43315 1.43316,1.43316 h 1.43316 v 2.86632 c 0.002,18.20119 28.66026,19.15199 28.6632,0 v -2.86632 h 1.43315 c 0.79151,-1e-5 1.43316,-0.64165 1.43316,-1.43316 v -2.866321 c 0,-0.79151 -0.64165,-1.43316 -1.43316,-1.43316 M 66.027011,35.228551 c -7.8e-4,-1.582337 -1.28398,-2.864556 -2.86632,-2.864556 -1.58234,0 -2.86535,1.282219 -2.86632,2.864556 v 8.598958 h 5.73264 z"
                        transform="translate(-29.540459,-32.363995)"></path>
                </clipPath>
            </defs>
            <path
                class="strand-1"
                clip-path="url(#clip-strand-1)"
                d="M 100.94224,65.939071 V 28.298337 A 15.233774,15.233774 45 0 0 85.708466,13.064563 15.00182,15.00182 134.41707 0 0 70.782381,28.297499 l 0.209966,20.016736"
            ></path>
            <path
                class="strand-2"
                clip-path="url(#clip-strand-2)"
                d="M 72.471353,68.527334 V 76.79745 A 15.517251,15.517251 135 0 1 56.954102,92.314701 15.34567,15.34567 45.644265 0 1 41.781954,76.79745 V 37.591433"
            ></path>
            <path
                class="leaf-1"
                clip-path="url(#clip-leaf-1)"
                d="M 47.944483,70.992345 86.282015,48.858161"></path>
            <path
                class="leaf-2"
                clip-path="url(#clip-leaf-2)"
                d="M 36.71685,73.078085 0.41248537,49.652142"></path>
            <path
                class="plug"
                clip-path="url(#clip-plug)"
                d="M 42.224356,40.129477 V -0.64763269"></path>
            <g id="layer1" transform="translate(-29.540459,-32.363995)"
                ><path
                    fill="currentColor"
                    d="m -90.449117,-54.252259 h -14.999993 l 3.33332,-20 -24.99999,30 h 15 l -3.33333,19.99999 z"
                    id="path7"
                    style="fill:#ffffff;stroke-width:0.104167"
                    transform="matrix(0.26458333,0,0,0.26458333,100.54167,70.643749)"
                ></path></g
            >
        </svg>
    </body>
    <style>
        .strand-1,
        .strand-2,
        .leaf-1,
        .leaf-2,
        .plug {
            fill: none;
            stroke: #ff0000;
            stroke-width: 12.4;
            stroke-dasharray: 206 206;
            stroke-dashoffset: 206;
            animation-name: draw;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
        }

        .strand-2 {
            animation-delay: 0.85s;
        }

        .leaf-1,
        .leaf-2 {
            stroke-width: 28;
        }
        .leaf-2 {
            animation-name: draw;
            animation-delay: 0s;
            stroke-dashoffset: 0;
            stroke-dasharray: 206 206;
        }
        .plug {
            stroke-width: 36;
        }

        @keyframes draw {
            from {
                stroke-dashoffset: 206;
            }
            to {
                stroke-dashoffset: 0;
            }
        }
    </style>
</html>
