---
import Phone from "@/icons/naturelec/naturelec-phone.svg";
import Location from "@/icons/naturelec/naturelec-location.svg";
import Facebook from "@/icons/naturelec/naturelec-facebook.svg";

interface Props {
	phoneHref?: string;
	locationHref?: string;
	facebookHref?: string;
}

const { phoneHref, locationHref, facebookHref } = Astro.props as Props;

// Create array of navigation items
const navItems = [
	{
		Icon: Phone,
		href: phoneHref,
		ariaLabel: "Phone",
		isExternal: false,
	},
	{
		Icon: Location,
		href: locationHref,
		ariaLabel: "Location",
		isExternal: true,
	},
	{
		Icon: Facebook,
		href: facebookHref,
		ariaLabel: "Facebook",
		isExternal: true,
	},
];

const iconClasses =
	"text-secondary box-content h-auto w-[60px] p-1 duration-200 hover:-translate-y-1 hover:text-[var(--light-btn-sec-hover)]";
---

<div
	class="fixed top-1/2 right-0 z-[999] mr-3 ml-2 hidden -translate-y-1/2 transform flex-col items-end gap-y-3.5 md:flex md:max-xl:flex md:min-2xl:p-3"
	data-aos-trigger="#hero-shapes-trigger"
	data-aos="fade-left"
>
	{
		navItems.map(({ Icon, href, ariaLabel, isExternal }) =>
			href ? (
				<a
					aria-label={ariaLabel}
					href={href}
					{...(isExternal && {
						target: "_blank",
						rel: "noopener noreferrer",
					})}
					class=""
				>
					<Icon class={iconClasses} />
				</a>
			) : (
				<Icon class={iconClasses} />
			),
		)
	}
</div>
